{
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "function-call-argument-newline": ["error", "multiline"]
}
