version: "3"
services:
  postgres:
    image: "postgres"
    ports:
      - 5432:5432
    env_file:
      - database.env # configure postgres
    volumes: 
      - C:\Docker\PostgreSql\data\cult-ish:/var/lib/postgresql/data